<a href="https://colab.research.google.com/github/PacoDLC/trading-algoritmico-a-z-con-python/blob/main/ES_TA_Cap%C3%ADtulo_03_Pre_Procesado_de_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p><img alt="Colaboratory logo" height="45px" src="https://www.quantreo.com/wp-content/uploads/2021/10/Original-on-Transparent.png" align="left" hspace="10px" vspace="0px">
<img alt="Colaboratory logo" height="45px" src="https://static-881c.kxcdn.com/wp-content/uploads/2016/03/frogamesLogoFull4.png" align="left" hspace="10px" vspace="0px"></p>

# Preprocesado de Datos


<br>


üí∞ √önete a la comunidad de [Discord](https://discord.gg/z3dx5XpkX4)

üìö Puedes leer nuestro libro en [Amazon](https://www.amazon.es/Python-para-finanzas-trading-algor%C3%ADtmico-ebook/dp/B0BT4ZS9Q3/)

üñ•Ô∏è El canal de [YouTube de Quantreo's](https://www.youtube.com/channel/UCp7jckfiEglNf_Gj62VR0pw) (en ingl√©s) y el de [Frogames](https://www.youtube.com/channel/UCMUxXNYrVCv6-bQakhomvBg) en espa√±ol

In [1]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.11/dist-packages (0.2.52)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.11/dist-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.11/dist-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in /usr/local/lib/python3.11/dist-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.11/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.11/dist-packages (from yfinance) (5.3.0)
Requirement already satisfied: platformdirs>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from yfinance) (4.3.6)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.11/dist-packages (from yfinance) (2025.1)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.11/dist-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in /usr/local/lib/python3.11/dist-packages (from yfinance) (3.17.9)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.11/dist-packages (from yfinance) (4.13.3)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.11/dist-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.6)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (4.12.2)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.11/dist-packages (from html5lib>=1.1->yfinance) (1.17.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.3.0->yfinance) (2025.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests>=2.31->yfinance) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests>=2.31->yfinance) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests>=2.31->yfinance) (2025.1.31)

In [2]:
import numpy as np
import pandas as pd
import yfinance as yf
import warnings
warnings.filterwarnings("ignore")

# Manejar datos que proceden de MT5 (manualmente)

In [3]:
# Importar los datos en bruto

raw =
df = pd.read_csv("/content/EURUSD_D1.csv")
df

FileNotFoundError: [Errno 2] No such file or directory: '/content/EURUSD_D1.csv'

In [ ]:
# A√±adir delimitador
df = pd.read_csv("/content/EURUSD_D1.csv", delimiter="\t")
df

,<DATE>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<TICKVOL>,<VOL>,<SPREAD>
0,2011.01.03,1.33443,1.33945,1.32501,1.33499,63214,0,9
1,2011.01.04,1.33507,1.34330,1.32919,1.33104,80673,0,8
2,2011.01.05,1.33099,1.33247,1.31255,1.31485,83725,0,8
3,2011.01.06,1.31495,1.31699,1.29834,1.30022,73723,0,8
4,2011.01.07,1.30018,1.30206,1.29044,1.29055,82379,0,8
...,...,...,...,...,...,...,...,...
2861,2022.01.10,1.13550,1.13599,1.12853,1.13252,53457,0,0
2862,2022.01.11,1.13230,1.13753,1.13131,1.13666,49386,0,0
2863,2022.01.12,1.13655,1.14528,1.13545,1.14411,51872,0,0
2864,2022.01.13,1.14402,1.14817,1.14357,1.14539,53078,0,0
2865,2022.01.14,1.14531,1.14829,1.13987,1.14151,59882,0,0

In [ ]:
# Funci√≥n de preprocesado

def preprocessing(name):

  # Importar los datos
  df = pd.read_csv(name, delimiter="\t", index_col="<DATE>", parse_dates=True).dropna()

  # Eliminar las √∫ltimas dos columnas
  df = df.iloc[:,:-2]

  # Renombrar
  df.columns = ["open", "high", "low", "close", "volume"]
  df.index.name = "time"

  return df

In [ ]:
df = preprocessing("/content/EURUSD_D1.csv")
df

               open     high      low    close  volume
time
2011-01-03  1.33443  1.33945  1.32501  1.33499   63214
2011-01-04  1.33507  1.34330  1.32919  1.33104   80673
2011-01-05  1.33099  1.33247  1.31255  1.31485   83725
2011-01-06  1.31495  1.31699  1.29834  1.30022   73723
2011-01-07  1.30018  1.30206  1.29044  1.29055   82379
...             ...      ...      ...      ...     ...
2022-01-10  1.13550  1.13599  1.12853  1.13252   53457
2022-01-11  1.13230  1.13753  1.13131  1.13666   49386
2022-01-12  1.13655  1.14528  1.13545  1.14411   51872
2022-01-13  1.14402  1.14817  1.14357  1.14539   53078
2022-01-14  1.14531  1.14829  1.13987  1.14151   59882

[2866 rows x 5 columns]

# Manejar los datos que proceden de Yfinance

In [ ]:
yf.download("EURUSD=X")

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close  Volume
Date
2003-12-01  1.203398  1.204007  1.194401  1.196501   1.196501       0
2003-12-02  1.196101  1.210903  1.194600  1.208897   1.208897       0
2003-12-03  1.209000  1.213003  1.207700  1.212298   1.212298       0
2003-12-04  1.212004  1.214403  1.204398  1.208094   1.208094       0
2003-12-05  1.207802  1.219096  1.206593  1.218695   1.218695       0
...              ...       ...       ...       ...        ...     ...
2022-06-10  1.061921  1.064215  1.050773  1.061921   1.061921       0
2022-06-13  1.048999  1.049759  1.041905  1.048999   1.048999       0
2022-06-14  1.041515  1.048240  1.039825  1.041515   1.041515       0
2022-06-15  1.044059  1.050718  1.038627  1.044059   1.044059       0
2022-06-16  1.044714  1.060220  1.038314  1.060108   1.060108       0

[4810 rows x 6 columns]

In [ ]:
def preprocessing_yf(symbol):

  #Importar los datos
  df = yf.download(symbol).dropna()

  #Renombrar
  df.columns = ["open", "high", "low", "close", "adj close", "volume"]
  df.index.name = "time"

  # Eliminar la columna adj close
  del df["adj close"]

  return df

In [ ]:
df = preprocessing_yf("EURUSD=X")
df

[*********************100%***********************]  1 of 1 completed

                open      high       low     close  volume
time
2003-12-01  1.203398  1.204007  1.194401  1.196501       0
2003-12-02  1.196101  1.210903  1.194600  1.208897       0
2003-12-03  1.209000  1.213003  1.207700  1.212298       0
2003-12-04  1.212004  1.214403  1.204398  1.208094       0
2003-12-05  1.207802  1.219096  1.206593  1.218695       0
...              ...       ...       ...       ...     ...
2022-06-10  1.061921  1.064215  1.050773  1.061921       0
2022-06-13  1.048999  1.049759  1.041905  1.048999       0
2022-06-14  1.041515  1.048240  1.039825  1.041515       0
2022-06-15  1.044059  1.050718  1.038627  1.044059       0
2022-06-16  1.044714  1.060220  1.038314  1.059434       0

[4810 rows x 5 columns]